/* Element Plus Overriding CSS */

@media (max-width: 1269px) {
  .el-main {
    width: calc(100% - 2px);
  }
}

@media (min-width: 1270px) {
  .el-main {
    width: calc(100% - 242px); /* border 2px + sidebar 240px */
  }
}

.el-aside {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.el-main {
  height: 100%;
  display: inline-block;
  color: #333;
  text-align: center;
  overflow-x: hidden;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-dialog {
  max-width: 700px;
  margin: auto;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #6f8cc3;
  background: #6f8cc3;
}

.el-radio__input.is-checked+.el-radio__label {
  color: #6f8cc3;
}

.el-form-item.is-error .el-input__inner {
  border-color: #f5bebd;
}
